@media (max-width:1000px) {
    aside {
        display: none;
    }

    header {
        left: -5px;
        width: 100px;
    }

    .main-class {
        top: 0px;
        left: 0;
    }
    .first-row{
        display: block !important;
    }
    main .main-class section .second-2 {
        margin-left: 10px !important;
    }
    nav {
        width: 935px !important;
    }
    .second-type-2{
        margin: 0 !important;
        margin-top: 10px !important;
    }
    
    main .main-class section .second-2 {
        max-width: 45% !important;
    }
    .fcolumn img {
        width: 90% !important;
        margin: 20px 0 0 0 !important;
    }
    .container-3 section {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 0 0 25px !important;
    }
    .first-box-of-sec{
        height: 450px !important;
        width: calc(93% - 0%) !important ;
        margin-left:0!important;
        display: flex;
        justify-content: center;
        position: relative;
    }
    .second-box-of-sec{
        margin-top: 20px !important;
        width: calc(93% - 0%) !important ;
        margin-left: 0px !important;
    }
    .img{
        display: none !important;
    }
    .box-border{
        width: calc(100% - 0%) !important ;
        display: flex;
        justify-content: space-between;
    }
    .col-2{
        margin-left: 300px;
    }
    .mainvr{
        width: 100%;
        justify-content: space-between;
        display: flex;
    }
    .mainvr-2{
        width: 100% !important;
        display: flex;
        justify-content: space-between;
    }
    .vrimg{
        margin-left: auto !important;
    }
    /* --------------new added-------------------------------------------- */

    .container-4 section{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        height: 1600px !important;
    }

    .boxp-1{
        margin-left: 20px !important;
        width: 900px !important;
    }
    .typetype{
        width: 100%;
        display: flex ;
        justify-content: space-between;
    }
    .roll-1{
        width: 100% !important;
        display: flex ;
        justify-content: space-between;
    }

    .main-said-div{
        width: 100% !important;
        display: flex ;
        justify-content: space-between;
    }
    .img-2-div img {
        width: 350px !important;
        display: flex ;
        justify-content: center;
        margin-left: 200px;
    }
    .next-same{
        width: 100% !important;
        display: flex ;
        justify-content: space-between;
    }
    .mail .maillogo{
        width: 100% !important;
        display: flex ;
        justify-content: space-between;
    }

    

    .fourth-last-row section{
        display: flex;
        flex-wrap: wrap !important;
    }

    .fourth-first{
        /* width: 900px !important; */
        width: calc(93% - 0%) !important ;
        /* margin-left: 20px !important; */
    }
    .fourth-second-time{
        position: relative;
    }

    footer {
        display: none !important;
    }

    .ftype .line-to-line-main{
        width: 100% !important;
        display: flex ;
        justify-content: space-between;
    }
    .fourth-second-time{
        margin-top: 30px !important;
        width: calc(93% - 0%) !important ;
        /* width: 900px !important; */
    }
}


@media (max-width:760px) {
    .first-row{
        position: absolute;
        display: flex !important;
        width: calc(100% - 10%) !important;
        flex-wrap: nowrap !important;
        justify-content: space-between;
        /* height: 500px !important; */
        margin-left: 30px !important;
    }
    nav{
        width: calc(100% - 10%) !important;
        margin-left: 10px !important;
    }
    .img{
        display: flex !important;
    }
    .secondbox-2{
        display: none !important;
    } 
}

@media (max-width:575px) {

    .first-row{
        position: absolute;
        display: flex !important;
        width:470px !important;
        flex-wrap: nowrap !important;
        justify-content: space-between;
        margin-left: 30px !important;
    }
    
    nav{
        width: 510px !important;
        margin-left: 10px !important;
    }
    
    .img .imgsrc img{
        display: none !important;
    }
    .secondbox-2{
        display: none !important;
    } 
    .container-3 section {
        display: flex !important;
        flex-wrap: wrap !important;
        /* align-items: center; */
        margin: 0 0 0 25px !important;
    }
    .first-box-of-sec{
        height: 500px !important;
        width: 500px !important ;
        margin-left:0!important;
        display: flex;
        justify-content: center;
    }
    .second-box-of-sec{
        margin-top: 20px !important;
        width:500px !important ;
        margin-left: 0px !important;
    }
    .vrimg img{
        margin-left: -50px !important;
    }
    .img{
        display: none !important;
    }
    .box-border{
        width: calc(100% - 0%) !important ;
        display: flex;
        justify-content: space-between;
    }
    .col-2{
        margin-left: 0 !important;
    }
    .mainvr{
        width: 100%;
        justify-content: space-between;
        display: flex;
    }
    .mainvr-2{
        width: 100% !important;
        display: flex;
        justify-content: space-between;
    }
    .vrimg{
        margin-left: auto !important;
    }
    /* --------------new added-------------------------------------------- */

    .container-4 section{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        height: 1600px !important;
    }

    .boxp-1{
        margin-left: 20px !important;
        width: 500px !important;
    }
    .typetype{
        width: 100%;
        display: flex ;
        justify-content: space-between;
    }
    .roll-1{
        width: 100% !important;
        display: flex ;
        justify-content: space-between;
    }
    .img-2-div img{
        margin-left:50px !important;
    }
    .fourth-first{
        width: 500px !important;
    }
    .main-said-div{
        width: 100% !important;
        display: flex ;
        justify-content: space-between;
    }
    .img-2-div img {
        width: 350px !important;
        display: flex ;
        justify-content: center;
        margin-left: 200px;
    }
    .next-same{
        width: 100% !important;
        display: flex ;
        justify-content: space-between;
    }
    .mail .maillogo{
        width: 100% !important;
        display: flex ;
        justify-content: space-between;
    }

    

    .fourth-last-row section{
        display: flex;
        flex-wrap: wrap !important;
    }

    .fourth-second-time{
        position: relative;
        width: 500px !important;
    }

    footer {
        display: none !important;
    }

    .ftype .line-to-line-main{
        width: 100% !important;
        display: flex ;
        justify-content: space-between;
    }
    .progress-bar{
        display: none;
    }
    .fourth-second-time{
        margin-top: 30px !important;
      
    }
    .last-p .but-1
    {
        margin: 0 !important;
    }
}










