.conatiner{
    height: 700px;
    background-color: rgb(113, 192, 242);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
.circle
{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 250px;
    left:730px;
    background-color: yellow;
    border: 1px solid yellow;
    border-radius: 100%;
    animation-name: CIRCLE;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes CIRCLE{
    0%{
        transform: translateY(0px); 
    }
    50%{
        transform: translateY(-400px);
        background-color: yellow;
        border: 1px solid yellow;
    }
    100%{
        transform:translateY(15px) ;
    }
}
.cloud{
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes move{
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(1000px);
    }
}
.cloud-1{
    margin-left: 1000px;
    animation-name: move-1;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    }

 @keyframes move-1{
    to{
        transform: translate(0px);
    }
    from{
        transform: translateX(-1000px);
    }
}