.slide-rotate-hor-b-bck {
    height: 100px;
    width: 100px;
    /* position: relative; */
    background-color: green;
    animation-duration: 100s;
	-webkit-animation: slide-rotate-hor-b-bck 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: slide-rotate-hor-b-bck 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

 @-webkit-keyframes slide-rotate-hor-b-bck {
    0% {
      -webkit-transform: translateY(0) translateZ(0) rotateX(0deg);
              transform: translateY(0) translateZ(0) rotateX(0deg);
      -webkit-transform-origin: bottom center;
              transform-origin: bottom center;
    }
    100% {
      -webkit-transform: translateY(150px) translateZ(-230px) rotateX(90deg);
              transform: translateY(150px) translateZ(-230px) rotateX(90deg);
      -webkit-transform-origin: bottom center;
              transform-origin: bottom center;
    }
  }
  @keyframes slide-rotate-hor-b-bck {
    0% {
      -webkit-transform: translateY(0) translateZ(0) rotateX(0deg);
              transform: translateY(0) translateZ(0) rotateX(0deg);
      -webkit-transform-origin: bottom center;
              transform-origin: bottom center;
    }
    100% {
      -webkit-transform: translateY(150px) translateZ(-230px) rotateX(90deg);
              transform: translateY(150px) translateZ(-230px) rotateX(90deg);
      -webkit-transform-origin: bottom center;
              transform-origin: bottom center;
    }
  }
  


  .slide-bck-center {
    height: 400px;
    width: 400px;
    background-color: blueviolet;
    /* position: relative; */
    animation-duration: 10s;
    margin-left: 500px;
	-webkit-animation: slide-bck-center 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: slide-bck-center 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

 @-webkit-keyframes slide-bck-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(-400px);
              transform: translateZ(-400px);
    }
  }
  @keyframes slide-bck-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(-400px);
              transform: translateZ(-400px);
    }
  }
  